# Web Scraping-Assignment-2

# Answer-1

In [215]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\lenovo\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: outcome in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\lenovo\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\lenovo\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [216]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [194]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [195]:
driver.get("https://www.naukri.com")

In [186]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [187]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [188]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [189]:
job_title=[] 
job_location=[]
company_name=[]
experience_required=[]

In [190]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]: 
     title=i.text
     job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [191]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [192]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Business & Data Analyst- Assistant Manager,"Hyderabad/Secunderabad, Bangalore/Bengaluru",State Street,1-3 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
3,Sr. Data Analyst,"Pune, Bangalore/Bengaluru",Global Indian School Education Services,6-11 Yrs
4,Sr Clinical Data Analyst,Bangalore/Bengaluru,LabCorp,2-5 Yrs
5,Data Analyst,"Ahmedabad, Bangalore/Bengaluru",milestone internet marketing pvt ltd,2-7 Yrs
6,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
7,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Concentrix,3-8 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
9,Senior Analyst/Data Scientist,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai...",JoulestoWatts,6-9 Yrs

# Answer-2

In [196]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [19]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Banglore')

In [20]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [21]:
job_title=[] 
job_location=[]
company_name=[]

In [22]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]: 
     title=i.text
     job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [23]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [24]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name})
df

,Job_title,Job_location,Company_name
0,Lead ML Scientist,"Mumbai, Bangalore/Bengaluru",Fractal Analytics
1,Senior Manager - EmTech - Machine Learning - P&T,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",PwC
2,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture
3,Data scientist _Tata Consultancy Services(Tcs),"Kochi/Cochin, Indore, New Delhi, Hyderabad/Sec...",TATA CONSULTANCY SERVICES (TCS)
4,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited
6,Tcs Hiring For Data Scientist,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
7,Urgent Job Opening For AI Practitioner - Data ...,"Kochi/Cochin, New Delhi, Bangalore/Bengaluru, ...",Wipro
8,Data Scientist Python,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Conduent
9,Assistant Manager - Data Science,"Mumbai, Pune, Bangalore/Bengaluru",CitiusTech

# Answer-3

In [25]:
driver.get("https://www.naukri.com")

In [26]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [27]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [28]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [29]:
job_title=[] 
job_location=[]
company_name=[]
experience_required=[]

In [30]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]: 
     title=i.text
     job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [31]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [32]:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs
7,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
8,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
9,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs

# Answer-4

In [33]:
driver.get("https://www.flipkart.com/")

In [35]:
band=driver.find_element(By.CLASS_NAME,"_3704LK")
band.send_keys('sunglasses')

In [82]:
product_bands=[]

In [83]:
start=0
end=3
for page in range(start,end):
    bands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in bands:
        product_bands.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

In [84]:
len(product_bands)

120

In [87]:
product_bands[0:100]

['IZAAN MART',
 'Rich Club',
 'Lee Topper',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'VINCENT CHASE',
 'Fastrack',
 'Sewell',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROYAL SON',
 'kingsunglasses',
 'VINCENT CHASE',
 'GANSTA',
 'PIRASO',
 'New Specs',
 'VINCENT CHASE',
 'BIZOLO',
 'kingsunglasses',
 'New Specs',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'PIRASO',
 'kingsunglasses',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'SUNBEE',
 'VINCENT CHASE',
 'kingsunglasses',
 'ROYAL SON',
 'Rich Club',
 'ROZZETTA CRAFT',
 'Elligator',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'john jacobs',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'SRPM',
 'Fastrack',
 'VINCENT CHASE',
 'Elligator',
 'New Specs',
 'New Specs',
 'VINCENT CHASE',
 'SUNBEE',
 'PHENOMENAL',
 'SHAAH COLLECTIONS',
 'VINCENT CHASE',
 'NuVew',
 'LIZA ANGEL',
 'PIRASO',
 'VINCENT CHASE',
 'Dannilo',
 'kingsunglasses',
 'Lee Topper',
 'VINCENT CHASE',
 'Mi',
 'PHENOMENAL',
 'PIRASO',
 'VINCENT CHASE',
 'SUNBEE',
 'EYELLUSION',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'Rich Club',
 'VINCENT CHASE',
 'Fastrack',
 'Silver Kartz',
 'kingsunglasses',
 'VINCENT CHASE',
 'IZAAN MART',
 'Rich Club',
 'Lee Topper',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'john jacobs',
 'Fastrack',
 'Sewell',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROYAL SON',
 'kingsunglasses',
 'john jacobs',
 'GANSTA',
 'PIRASO',
 'New Specs',
 'Rich Club']

In [88]:
product_descriptions=[]

In [89]:
start=0
end=3
for page in range(start,end):
    descriptions=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in descriptions:
        product_descriptions.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

In [90]:
len(product_descriptions)

120

In [92]:
product_descriptions[0:100]

['UV Protection Retro Square Sunglasses (55)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'by Lenskart UV Protection Clubmaster Sunglasses (55)',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (58)',
 'Gradient, UV Protection Aviator Sunglasses (62)',
 'UV Protection Aviator Sunglasses (55)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'Night Vision, Riding Glasses Rectangular Sunglasses (60...',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Wayfarer Sunglasses (55)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'Polarized, UV Protection Sports Sunglasses (68)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Butterfly, Over-sized Sunglasses (62)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient Round Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (55)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (61)',
 'UV Protection Butterfly Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (54)',
 'Night Vision, UV Protection Spectacle Sunglasses (50)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Polarized Wayfarer Sunglasses (52)',
 'UV Protection Butterfly Sunglasses (60)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Oval Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'Riding Glasses, Night Vision Retro Square, Spectacle S...',
 'UV Protection, Gradient Butterfly Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wrap-around Sunglasses (63)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Mirrored Aviator Sunglasses (58)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Gradient, UV Protection Aviator Sunglasses (57)',
 'UV Protection Retro Square Sunglasses (52)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Butterfly, Spec...',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'Polarized Rectangular Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Round Sunglasses (53)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Oval Sunglasses (Free Size)',
 'by Lenskart UV Protection, Polarized Aviator Sunglasses...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (50)',
 'by Lenskart UV Protection Aviator Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Retro Square Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (53)']

In [152]:
product_prices=[]

In [153]:
start=0
end=3
for page in range(start,end):
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices:
        product_prices.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

In [154]:
len(product_prices)

120

In [155]:
product_prices[0:100]

['₹799',
 '₹687',
 '₹374',
 '₹1,542',
 '₹544',
 '₹228',
 '₹399',
 '₹993',
 '₹499',
 '₹397',
 '₹1,747',
 '₹687',
 '₹374',
 '₹2,718',
 '₹199',
 '₹599',
 '₹373',
 '₹509',
 '₹449',
 '₹599',
 '₹466',
 '₹259',
 '₹404',
 '₹439',
 '₹297',
 '₹354',
 '₹449',
 '₹399',
 '₹1,619',
 '₹499',
 '₹389',
 '₹709',
 '₹197',
 '₹468',
 '₹2,115',
 '₹239',
 '₹458',
 '₹479',
 '₹459',
 '₹3,054',
 '₹499',
 '₹398',
 '₹1,399',
 '₹625',
 '₹2,449',
 '₹410',
 '₹519',
 '₹801',
 '₹424',
 '₹299',
 '₹449',
 '₹799',
 '₹399',
 '₹499',
 '₹2,289',
 '₹659',
 '₹479',
 '₹959',
 '₹299',
 '₹687',
 '₹1,759',
 '₹272',
 '₹265',
 '₹699',
 '₹2,134',
 '₹598',
 '₹499',
 '₹2,400',
 '₹399',
 '₹499',
 '₹365',
 '₹319',
 '₹666',
 '₹319',
 '₹299',
 '₹1,715',
 '₹449',
 '₹499',
 '₹249',
 '₹492',
 '₹499',
 '₹799',
 '₹374',
 '₹1,542',
 '₹544',
 '₹228',
 '₹399',
 '₹687',
 '₹499',
 '₹397',
 '₹1,747',
 '₹993',
 '₹374',
 '₹2,718',
 '₹199',
 '₹687',
 '₹373',
 '₹509',
 '₹449',
 '₹599']

# Answer-6

In [131]:
driver.get("https://www.flipkart.com/")

In [137]:
band=driver.find_element(By.CLASS_NAME,"_3704LK")
band.send_keys('sneakers')

In [141]:
search=driver.find_element(By.CLASS_NAME,"_34RNph")
search.click()

In [142]:
product_brands=[]

In [143]:
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        product_brands.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

In [144]:
len(product_brands)

120

In [145]:
product_brands[0:100]

['Deals4you',
 'OZJI',
 'aadi',
 'PUMA',
 'Chevit',
 'Layasa',
 'Layasa',
 'Bonexy',
 'Labbin',
 'KWIK FIT',
 'PUMA',
 'FAUSTO',
 'Magnolia',
 'PUMA',
 'Layasa',
 'FAUSTO',
 'Deals4you',
 'Robbie jones',
 'Numenzo',
 'LANCER',
 'AMICO',
 'Kzaara',
 'SCATCHITE',
 'FAUSTO',
 'Layasa',
 'Shoes Bank',
 'Magnolia',
 'Rontex',
 'Kraasa',
 'Layasa',
 'RED TAPE',
 'Rontex',
 'ASTEROID',
 'Deals4you',
 'Sparx',
 'URBANBOX',
 'Deals4you',
 'PUMA',
 'Chevit',
 'Rzisbo',
 'Deals4you',
 'Chevit',
 'PUMA',
 'Magnolia',
 'Layasa',
 'DUCATI',
 'PUMA',
 'LuvShus',
 'CLYMB',
 'Xtoon',
 'BRUTON',
 'Chevit',
 'BRUTON',
 'ASTEROID',
 'PUMA',
 'WHITE WALKERS',
 'Roadster',
 'BIRDE',
 "LEVI'S",
 'HOTSTYLE',
 'HOTSTYLE',
 'PUMA',
 'TWIN TOES',
 'Kraasa',
 'PUMA',
 'aadi',
 'Kraasa',
 'kardam&sons',
 'Kraasa',
 'BRUTON',
 'BRUTON',
 'ONECENTRE',
 'PUMA',
 'Noztile',
 'Chevit',
 'World Wear Footwear',
 'BRUTON',
 'Xtoon',
 'Qitty',
 'Airland',
 'Deals4you',
 'OZJI',
 'aadi',
 'PUMA',
 'Chevit',
 'Layasa',
 'Layasa',
 'Bonexy',
 'Labbin',
 'KWIK FIT',
 'PUMA',
 'FAUSTO',
 'Magnolia',
 'PUMA',
 'Layasa',
 'FAUSTO',
 'Deals4you',
 'Robbie jones',
 'Numenzo',
 'LANCER']

In [148]:
product_descriptions=[]

In [149]:
start=0
end=3
for page in range(start,end):
    descriptions=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in descriptions:
        product_descriptions.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

In [150]:
len(product_descriptions)

109

In [151]:
product_descriptions[0:100]

['Sneakers For Women',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Rebound JOY Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 'Combo Pack of 4 Casual & Sports Shoes (Loafers Shoes) S...',
 'Caracal Sneakers For Men',
 'Men Casual Shoe New Trend With Fashion Panda Desgined L...',
 'Sneakers For Men',
 'Combo Pack of 3 Casual & Sports Shoes (Sneakers & Runni...',
 'Modern Trendy Sneakers boot Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Women',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Cilia Mode Sneakers For Women',
 'Canvas Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 "Levi's Men's Lancer Sneakers Sneakers For Men",
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Stylish Sneakers For Women',
 'Series 7 Sneakers For Men',
 'Cilia Sneakers For Women',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'casual sneaker shoes for men luxury fashion casual snea...',
 'Sneakers For Women',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'STR2 Sneakers For Men',
 'Smash Wns v2 L Sneakers For Women',
 'Sneakers For Men',
 'Trendy Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'Smash Wns v2 Z Sneakers For Women',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'supr Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Glory Sneakers For Men',
 'Trendy Sneakers For Men',
 'Sneakers For Men',
 'Caracal Sneakers For Men',
 'supr Sneakers For Men',
 'Sneakers For Women',
 'Casual Sneakers Black Outdoor Shoes For Boys And Men Sn...',
 '411 Casual Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Puma Smash v2 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Rebound JOY Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 'Caracal Sneakers For Men',
 'Men Casual Shoe New Trend With Fashion Panda Desgined L...',
 'Sneakers For Men',
 'Combo Pack of 4 Casual & Sports Shoes (Loafers Shoes) S...',
 'Modern Trendy Sneakers boot Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Sneakers For Men',
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Original Luxury Branded Black Fancy Casual Walking Part...',
 'Cilia Mode Sneakers For Women',
 'Combo Pack of 3 Casual & Sports Shoes (Sneakers & Runni...',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'Sneakers For Women',
 "Levi's Men's Lancer Sneakers Sneakers For Men",
 'Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Canvas Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Stylish Sneakers For Women',
 'Series 7 Sneakers For Men',
 'Cilia Sneakers For Women',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men']

In [156]:
product_prices=[]

In [157]:
start=0
end=3
for page in range(start,end):
    prices=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prices:
        product_prices.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(2)

In [158]:
len(product_prices)

120

In [160]:
product_prices[0:100]

['₹499',
 '₹398',
 '₹625',
 '₹1,399',
 '₹2,449',
 '₹410',
 '₹801',
 '₹519',
 '₹424',
 '₹299',
 '₹799',
 '₹449',
 '₹399',
 '₹499',
 '₹659',
 '₹2,289',
 '₹479',
 '₹959',
 '₹687',
 '₹299',
 '₹1,759',
 '₹272',
 '₹699',
 '₹265',
 '₹2,134',
 '₹598',
 '₹499',
 '₹2,400',
 '₹399',
 '₹499',
 '₹365',
 '₹319',
 '₹666',
 '₹319',
 '₹299',
 '₹1,715',
 '₹449',
 '₹499',
 '₹249',
 '₹499',
 '₹799',
 '₹374',
 '₹1,542',
 '₹544',
 '₹228',
 '₹399',
 '₹687',
 '₹499',
 '₹397',
 '₹1,747',
 '₹993',
 '₹374',
 '₹2,718',
 '₹199',
 '₹687',
 '₹373',
 '₹509',
 '₹449',
 '₹599',
 '₹466',
 '₹259',
 '₹404',
 '₹599',
 '₹439',
 '₹297',
 '₹354',
 '₹449',
 '₹399',
 '₹1,619',
 '₹499',
 '₹389',
 '₹709',
 '₹197',
 '₹468',
 '₹2,115',
 '₹239',
 '₹458',
 '₹479',
 '₹459',
 '₹3,054',
 '₹499',
 '₹398',
 '₹625',
 '₹1,399',
 '₹2,449',
 '₹410',
 '₹801',
 '₹519',
 '₹424',
 '₹299',
 '₹799',
 '₹449',
 '₹399',
 '₹499',
 '₹659',
 '₹2,289',
 '₹479',
 '₹959',
 '₹687']

# Answer-7

In [171]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [172]:
driver.get("https://www.myntra.com/shoes")

In [166]:
#NOT ABLE TO SCRAP DATA FROM MYNTRA SITE .CAN'T PROCEED FOR INSPECT OPTION.

# Answer-8

In [273]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [274]:
driver.get("https://www.amazon.in/")

In [275]:
product_title=[]

In [276]:
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]: 
     title=i.text
     product_title.append(title)

In [277]:
len(product_title)

10

In [278]:
product_title[0:10]

['ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm),OLED,400 nits,UWVA, Eye Safe Display/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO 2021, 14-eh0024TU',
 'Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen 15.6"(39.62cm) FHD IPS Gaming Laptop (8GB/512GB SSD/4GB NVIDIA GTX 1650/120Hz/Windows 11/Backlit Keyboard/3months Game Pass/Onyx Black/2.2Kg), 81Y401BHIN',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 '(Renewed) Dell Latitude E7470 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.9 kg',
 'Hp Pavilion X360 11Th Gen Intel Core I7 14 Inches Fhd Multitouch 2In1 Laptop (16Gb Ram/512Gb Ssd/B&O/Windows 11 Home/Fpr/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu',
 'HP Pavilion 11th Gen Intel Core i7 15.6 inches(39.6cm) FHD Gaming Laptop (16GB RAM/512GB SSD/144Hz/4GB NVIDIA GeForce GTX 1650 Graphics/Windows 10 Home/MS Office/Shadow Black/2.28 Kg), 15-dk2075tx',
 '(Renewed) Dell Intel 6th Gen Core i7-6820HQ 15-Inch (38.1 cms) Touchscreen 1920x1080 Laptop (16 GB/512 GB SSD/Windows/MS Office Pro 2019 /AMD/Black/2.10 Kg), Latitude E5570',
 '(Renewed) Lenovo Intel Core i7 5600U 12.5-Inch (31.75 cms) HD (1366 X 768) Laptop (8 GB/256 GB SSD/Windows 10/Intel HD 5500//1.53 Kg), Lenovo X250',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN']

In [280]:
product_price=[]

In [281]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]: 
     price=i.text
     product_price.append(price)

In [282]:
len(product_price)

10

In [283]:
product_price[0:10]

['57,990',
 '89,990',
 '62,990',
 '81,990',
 '38,899',
 '82,200',
 '86,600',
 '43,198',
 '23,998',
 '79,490']

# Answer-9

In [218]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [219]:
driver.get("https://www.ambitionbox.com/")

In [210]:
search=driver.find_element(By.CLASS_NAME,"search-button")
search.click()

In [220]:
designation=driver.find_element(By.XPATH,"/html/body/section[1]/div/div/div/div[2]/form/span/input")
designation.send_keys('Data Scientist')

In [222]:
search=driver.find_element(By.CLASS_NAME,"ctas-btn-medium")
search.click()

In [227]:
job_location=[]

In [228]:
location_tags=driver.find_elements(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [229]:
company_name=[]

In [230]:
name_tags=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in name_tags[0:10]: 
     name=i.text
     company_name.append(name)

In [231]:
len(company_name)

10

In [232]:
company_name[0:10]

['CBRE South Asia Pvt Ltd',
 'GENPACT India Private Limited',
 'Genpact',
 'Ericsson India Global Services Pvt. Ltd.',
 'GENPACT India Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'Ericsson India Global Services Pvt. Ltd.',
 'SOPRA STERIA INDIA LIMITED',
 'EXL Services.com ( I ) Pvt. Ltd.']

In [233]:
company_days=[]

In [234]:
days_tags=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in days_tags[0:10]:
    days=i.text
    company_days.append(days)

In [235]:
len(company_days)

10

In [239]:
company_days[0:10]

['8d ago',
 'via naukri.com',
 '1d ago',
 'via naukri.com',
 '3d ago',
 'via iimjobs.com',
 '18d ago',
 'via naukri.com',
 '11d ago',
 'via naukri.com']

In [240]:
company_rating=[]

In [241]:
rating_tags=driver.find_elements(By.XPATH,'//a[@class="rating rating-4"]')
for i in rating_tags[0:10]:
    rating=i.text
    company_rating.append(rating)

In [242]:
len(company_rating)

10

In [243]:
company_rating[0:10]

['4.3', '4.3', '4.0', '4.0', '4.3', '4.0', '4.1', '4.1', '4.3', '4.2']

In [244]:
print(len(company_name[0:10]),len(company_rating[0:10]),len(company_days[0:10]))

10 10 10

In [245]:
df=pd.DataFrame({'Company_name':company_name[0:10] ,'Company_rating':company_rating[0:10],'Company_days':company_days[0:10]})
df

,Company_name,Company_rating,Company_days
0,CBRE South Asia Pvt Ltd,4.3,8d ago
1,GENPACT India Private Limited,4.3,via naukri.com
2,Genpact,4.0,1d ago
3,Ericsson India Global Services Pvt. Ltd.,4.0,via naukri.com
4,GENPACT India Private Limited,4.3,3d ago
5,Optum Global Solutions (India) Private Limited,4.0,via iimjobs.com
6,Optum Global Solutions (India) Private Limited,4.1,18d ago
7,Ericsson India Global Services Pvt. Ltd.,4.1,via naukri.com
8,SOPRA STERIA INDIA LIMITED,4.3,11d ago
9,EXL Services.com ( I ) Pvt. Ltd.,4.2,via naukri.com

# Answer-10

In [246]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [247]:
driver.get("https://www.ambitionbox.com/")

In [257]:
name=driver.find_element(By.CLASS_NAME,"tt-input")
name.send_keys('Data Scientist')

In [258]:
company_name=[]

In [259]:
name_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in name_tags[0:10]: 
     name=i.text
     company_name.append(name)

In [260]:
len(company_name)

10

In [261]:
company_name[0:10]

['Walmart\nData Scientist Salary\n3-4 yrs experience (based on 22 salaries)',
 'Ab Inbev\nData Scientist Salary\n2-4 yrs experience (based on 53 salaries)',
 'Optum\nData Scientist Salary\n2-4 yrs experience (based on 48 salaries)',
 'ZS\nData Scientist Salary\n1-2 yrs experience (based on 33 salaries)',
 'Fractal Analytics\nData Scientist Salary\n2-4 yrs experience (based on 109 salaries)',
 'Tiger Analytics\nData Scientist Salary\n2-4 yrs experience (based on 65 salaries)',
 'Legato Health Technologies\nData Scientist Salary\n4 yrs experience (based on 11 salaries)',
 'Tredence\nData Scientist Salary\n3 yrs experience (based on 12 salaries)',
 'UnitedHealth\nData Scientist Salary\n2-4 yrs experience (based on 91 salaries)',
 'Ford Motor\nData Scientist Salary\n3-4 yrs experience (based on 21 salaries)']

In [262]:
avg_salary=[]

In [263]:
salary_tags=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in salary_tags[0:10]: 
     salary=i.text
     avg_salary.append(salary)

In [264]:
len(avg_salary)

10

In [265]:
avg_salary[0:10]

['₹ 31.7L',
 '₹ 19.7L',
 '₹ 16.5L',
 '₹ 15.7L',
 '₹ 15.2L',
 '₹ 14.7L',
 '₹ 14.5L',
 '₹ 14.1L',
 '₹ 13.6L',
 '₹ 13.5L']

In [266]:
salary_value=[]

In [267]:
value_tags=driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in value_tags[0:10]: 
     value=i.text
     salary_value.append(value)

In [268]:
len(salary_value)

10

In [269]:
salary_value[0:10]

['₹ 25.0L\n₹ 45.0L',
 '₹ 15.0L\n₹ 25.5L',
 '₹ 11.0L\n₹ 22.6L',
 '₹ 11.0L\n₹ 22.0L',
 '₹ 9.0L\n₹ 23.0L',
 '₹ 9.0L\n₹ 20.0L',
 '₹ 11.0L\n₹ 20.0L',
 '₹ 8.8L\n₹ 17.5L',
 '₹ 8.0L\n₹ 20.5L',
 '₹ 10.0L\n₹ 18.0L']

In [271]:
print(len(company_name),len(avg_salary),len(salary_value))

10 10 10

In [272]:
df=pd.DataFrame({'Company_name':company_name,'Avg_salary':avg_salary,'Salary_value':salary_value})
df

,Company_name,Avg_salary,Salary_value
0,Walmart\nData Scientist Salary\n3-4 yrs experi...,₹ 31.7L,₹ 25.0L\n₹ 45.0L
1,Ab Inbev\nData Scientist Salary\n2-4 yrs exper...,₹ 19.7L,₹ 15.0L\n₹ 25.5L
2,Optum\nData Scientist Salary\n2-4 yrs experien...,₹ 16.5L,₹ 11.0L\n₹ 22.6L
3,ZS\nData Scientist Salary\n1-2 yrs experience ...,₹ 15.7L,₹ 11.0L\n₹ 22.0L
4,Fractal Analytics\nData Scientist Salary\n2-4 ...,₹ 15.2L,₹ 9.0L\n₹ 23.0L
5,Tiger Analytics\nData Scientist Salary\n2-4 yr...,₹ 14.7L,₹ 9.0L\n₹ 20.0L
6,Legato Health Technologies\nData Scientist Sal...,₹ 14.5L,₹ 11.0L\n₹ 20.0L
7,Tredence\nData Scientist Salary\n3 yrs experie...,₹ 14.1L,₹ 8.8L\n₹ 17.5L
8,UnitedHealth\nData Scientist Salary\n2-4 yrs e...,₹ 13.6L,₹ 8.0L\n₹ 20.5L
9,Ford Motor\nData Scientist Salary\n3-4 yrs exp...,₹ 13.5L,₹ 10.0L\n₹ 18.0L